<div class="wrapper fadeInDown">
    <div id="formContent">
      <br>
      <form>
        <br>
        <input type="text" ng-model="user" id="login" class="fadeIn second" name="user" placeholder="login">
        <input type="password" ng-model="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" (ngSubmit)="login()" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">¿Olvido la contraseña?</a>
      </div>
  
    </div>
  </div>
